.page-title-h1 {
  /* font-family: 'Shadows Into Light', cursive; */
  font-weight: 400;
  color: #f1f1f1;
}

.contact-icon {
  padding: 5px;
}


.title-page{
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.page-title-subheader {
  color: #f1f1f1;
  font-size: larger;
}

.logo{
  object-fit: contain;
  overflow: hidden;
}