.item-card{
    margin: 0 0 30px 30px;
    min-height: 260px;
    margin-left:auto;
    margin-right:auto;
}

.rep-img{
    max-width: 100%;
    border: solid 3px gold
}

.info-container{
    background: url("../../assets/images/background/card-bg.jpg");
    background-size: 100% 100%;
    padding-bottom: 20px;
}

.rep-name-container{
    padding: 0px;
}

.info-section {
  overflow: hidden;
}

.card-btn {
  margin: 10px 10px 10px 0;
}

.slide-btn{
    position: absolute;
    top: 30%;
    right: 0%;
    padding-right: 0px;
    margin-right: 0px;
    color: black !important;
    z-index : 3;
}

.rep-title {
  font-size: 20px;
}

.rep-title,
.rep-name {
  font-family: "Libre Baskerville", serif;
}

.rep-url{
    font-size: 18px;
}

.rep-contact{
  min-height: 200px;
}

.party-banner{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.party-text{
   margin-top:10px;
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  max-width: 520px;
}
