/* Style the video: 100% width and height to cover the entire window */
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

#videoBG {
    min-width: 100%; 
    min-height: 100%; 
    
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


@media (min-aspect-ratio: 16/9) {
    #video {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video { 
        width:auto;
        height: 100%;
    }
}