/* Style the video: 100% width and height to cover the entire window */
#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
  

@media (min-aspect-ratio: 16/9) {
    #video {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video { 
        width:auto;
        height: 100%;
    }
}