.home-title {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding-top: 20px;
}
  
.title{
    color:white !important;
}

button:first-of-type {
    margin-right: 20px;
}

button:last-of-type {
    margin-left: 20px;
}